<!DOCTYPE html><html lang="ru"><head><meta charset="UTF-8">
    <title>{{ recipe.title_recipe }}</title>
    <style>
        body {
            background-image: url(https://static.vecteezy.com/system/resources/previews/002/789/418/large_2x/continuous-line-of-chef-cooking-illustration-free-vector.jpg);
            background-attachment: local;
           }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body link="white" style="background-color: rgba(160,196,232,0.71);">
<div class="app">
    <header class="site-header sticky-top py-1" >
        <nav class="navbar navbar-light" >
            <button class="btn2 btn" type="submit" onClick='location.href="{% url 'title_search' %}"'>Главная страница</button>

        </nav></header>

    <p></p><div class="content-app"><div class="content-app2">

    <h4 style="text-align: center">{{ recipe.title_recipe }}</h4><div class="panel-body">
    <p></p>
            <h5> Ингредиенты: </h5>
        {% for ingredient in recipe.ingredients.all %}
                •{{ ingredient.title_ingredient }}
    {% endfor %}
    <div class="form-group">
        <table class="table">

            <tr>
                <td style="width: 20%">
                    <label>Описание приготовления: </label>
                </td>
                <td>
                    <p>{{ recipe.text_recipe }}</p>
                </td>
            </tr>
        </table>

    </div>
</tr>
</div>
</div>
</div>
</div>
</body>
</html>
